* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

a { color: silver; }
a:hover { color: goldenrod; }

h1, h2, h3, h4 { font-family: "Trebuchet MS", Arial; }

html, body { height: 100%; }

html { background: #002349; }

body {
  font-family: Arial;
  font-size: 14px;
  color: white;
}

#fredericperez {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

/*--- HEADER ---*/

#header {
  padding-top: 30px;
  padding-right: 0; /*4%;*/
  padding-bottom: 0px;
  padding-left: 0; /*4%;*/
  max-width: 800px;
  margin: auto;
}

#header h1 {
  font-size: 3.5rem;/*4rem;*/
  max-width: 800px;
}
#header h1 span {
  display: none;
}

#header h2 {
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 2rem;
  max-width: 800px;
  color: silver;
}


/*--- CONTENT ---*/

#content {
  padding-top: 25px;
  overflow: hidden;
}

#content div {
  position: relative;
  /*float: left;*/
  clear: both;
  max-width: 800px;
  margin: auto;
}

#content div p, #content div address {
  margin: 0;
  padding-left: 0; /*15px;*/
  padding-right: 0; /*15px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: normal;
}

#content ul {
  float: left;
  width: 100%;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
}
#content ul li {
  float: left;
  clear: both;
}

#content ul.extlist li {
  float: left;
  clear: both;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  /*font-size: 14px;*/
  color: white;
  width: 100%;
}
#content ul.extlist li a {
  float: left;
  clear: both;
  /* background-color: yellow; for testing */
  font-size: 1vw;
  font-size: 1.25rem;
  width: 100%;
}
#content ul.extlist li a img {
  float: left;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0; /*15px;*/
  margin-right: 12px; /*15px;*/
  width: 48px;
  height: 48px;
}
#content ul.extlist li strong {
  display: block;
  padding-top: 4px;
  font-family: "Trebuchet MS", Arial;
  /*font-size: 18px;*/
  font-size: 10vw;
  font-size: 1.5rem;
  color: white;
}
.desc {
  color: silver;
}

#content ul.extlist li:hover strong {
  color: gold;
}

#content ul.extlist li:hover strong {
  color: gold;
}
#content ul.extlist li:hover strong span.desc {
  color: goldenrod;
}

#content #networks ul {
  margin: 1px 0;
}

/*--- CONTENT ---*/


/*--- footnote ---*/

#footnote {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
  font-size: 1.25rem;
}

/*--- footnote ---*/
