a { color: silver; }
a:hover { color: goldenrod; }

h1, h2, h3, h4 { font-family: "Trebuchet MS", Arial; }

html, body { height: 100%; }

html { background: #002349; }

body {
  font-family: Arial;
  font-size: 14px;
  color: white;
}

#frinsfrinss {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

/*--- HEADER ---*/

#header {
  padding-top: 30px;
  padding-right: 0; /*4%;*/
  padding-bottom: 0px;
  padding-left: 0; /*4%;*/
  max-width: 800px;
  margin: auto;
}

#header h1 {
  font-size: 3rem;/*3.5rem;*//*4rem;*/
  max-width: 800px;
}
#header h1 span {
  display: none;
}

/*--- CONTENT ---*/

/*
#content {
  padding-top: 25px;
  overflow: hidden;
}
*/

#content div {
  position: relative;
  /*float: left;*/
  clear: both;
  max-width: 800px;
  margin: auto;
}
